<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <servlet>
    <servlet-name>stream</servlet-name>
    <servlet-class>com.roden.video.PseudostreamingServlet</servlet-class>
    <init-param>
      <param-name>videoPath</param-name>
      <param-value>E:/Media/电影/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>stream</servlet-name>
    <url-pattern>/stream</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>




<!--   <display-name>AirPlay</display-name> -->
<!--   <servlet> -->
<!--     <servlet-name>HelloServlet</servlet-name> -->
<!--     <servlet-class>com.airplay.test.HelloServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>HelloServlet</servlet-name> -->
<!--     <url-pattern>/AirPlay/HelloServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!-- </web-app> -->